<app-nav></app-nav>
<div class="container">
    <section class="welcome">
        <div class="wrapper">
            <h1 class="h1">Welcome, <br> I'm Eduardo
            </h1>
        </div>
        
    </section>
    <section class="iam">
        <div class="nav-back"></div>
        <div class="wrapper">
            <div class="picture">
                <svg class="" width="100%" height="100%" viewBox="0 0 340 370" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <defs>
                        <pattern id="background" x="0" y="0" width="34.55" height="35.42" patternUnits="userSpaceOnUse" >
                          <image href="../../../assets/eduardo_azul.jpg"  width="32.5" height="32.5" />
                        </pattern>
                    </defs>
                    <g transform="matrix(1,0,0,1,-760,0)">
                        <g id="hexagon" transform="matrix(0.894953,0,0,0.97392,79.243,12.803)">
                            <rect x="760.662" y="-13.146" width="379.908" height="379.908" style="fill:none;"/>
                            <g transform="matrix(13.7119,0,0,12.6001,-1635.89,-4495.05)">
                                <path d="M186.593,356.472C187.853,355.744 189.407,355.744 190.667,356.472C193.194,357.93 197.475,360.402 200.002,361.861C201.263,362.589 202.039,363.934 202.039,365.39L202.039,376.168C202.039,377.624 201.263,378.969 200.002,379.697C197.475,381.156 193.194,383.628 190.667,385.086C189.407,385.814 187.853,385.814 186.593,385.086C184.066,383.628 179.785,381.156 177.258,379.697C175.997,378.969 175.221,377.624 175.221,376.168L175.221,365.39C175.221,363.934 175.997,362.589 177.258,361.861C179.785,360.402 184.066,357.93 186.593,356.472Z" style="fill:url(#background);"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <p class="intro">Cuento con experiencia en prototipado con figma, desarrollo web con Angular y desarrollo móvil con Swift. Apasionado por la innovación, usabilidad y tecnología aplicada.
                Amplio interés en el impacto del software en la gestión de empresas, trazabilidad, logística y e-commerce.</p>
                <p>Busco una empresa innovadora donde generar sinergia laboral y desarrollarme profesionalmente. </p>
        </div>
        
    </section>
    <section class="askme">
        <div class="nav-back"></div>
        <div class="wrapper">
            <h2 id="askme">Ask me about</h2>
            
        </div>
    </section>

    <section class="portfolio">
        <div class="nav-back"></div>
        <div class="wrapper">
            <h2 id="portfolio">Portfolio</h2>
            
        </div>
    </section>

    <section class="contact">
        <div class="nav-back"></div>
        <div class="wrapper">
            Contact me
            <a href="https://bit.ly/eduintech"  class="whatsapp">whatsapp</a>
        </div>
        <div class="footer">
            <div class="wrapper">
                <p>Build with love in Angular</p>
                
            </div>
        </div>
    </section>
    <footer>

    </footer>

</div>
